<!DOCTYPE html>
<html class="no-js">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Checkerboard</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>

<body>
    <div class="wrapper">
        <div>
            <div class="box_container">
                <h1>Checkerboard</h1>
                <table>
                    <tr>
                        {% for i in range(1,r+1) %}
                        {% if i % 2 != 0 %}
                        {% for i in range(4) %}
                        <td class="red">
                        </td>
                        <td class="black">
                        </td>
                        {% endfor %}
                        {% else %}
                        {% for i in range(4) %}
                        <td class="black">
                        </td>
                        <td class="red">
                        </td>
                        {% endfor %}
                        {% endif %}
                        {% endfor %}
                    </tr>
                </table>
            </div>
        </div>
    </div>
</body>

</html>